html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body {
    background-color: #D7BBA8;
    color: #3E2A35;
}

input, textarea{
    background-color: #D7BBA8;
    color: #3E2A35;
    border-color: transparent;
    border-radius: 3px;
    border-bottom-color: #E26D5A;
}

input:focus, textarea:focus {
    transform: scale(1.1);
    outline: #E26D5A solid 1px;
    box-shadow: 0px 0px 5px 1px #D7BBA8;
}

input {
    width: 50%;
    height: 4%;
}

textarea {
    width: 75%;
    height: 25%;
}

.header-button {
    color: #E26D5A;
}

.header-button:hover {
    transform: scale(1.1);
    cursor: pointer;
    text-shadow: 0px 0px 1px #3e2a3563;
}

#doc-container {
    height: 100vh;
    min-height: 300px;
    width: 100vw;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app-container {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#list-container, #form-container {
    height: 60vh;
    max-height: 500px;
    min-height: 350px;
    overflow-x: hidden;
    background-color: #3e2a3546;
    box-shadow: #3e2a3546 0px 0px 10px 10px;
    width: 50vw;
    min-width: 200px;
    overflow-y: auto;
    scrollbar-color: #D7BBA8 #E26D5A;
}

.hidden{
    display: none;
}

.task-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#form-container {
    text-align: center;

}

.task {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task .task-buttons{
    width: 100%;
}

.task-main-info {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}
